*~
*#*
/git/spindle
/git/config.local
/corebird/*
/dconf/*
/dleyna-*
/enchant/*
/epiphany/*
/evolution/*
/gedit/*
/gnome-initial-setup-done
/goa-1.0/*
/google-chrome/*
/libreoffice/*
/menus/*
/pulse/*
/sealert.conf
/spotify/*
/totem/*
/transmission-remote-gtk/*
/yelp/*
/gnome-boxes/
/gtk-3.0/bookmarks
/gtk-3.0/servers
/user-dirs.dirs
/user-dirs.locale
/libvirt/*
bash_completion.d/git-fpaste-completion.bash
gnome-control-center/*
ibus/*
/systemd/user/*.target.wants/*
/skypeforlinux/*
monitors.xml
/gtk-2.0
/nautilus/search-metadata
/inkscape/
/Mattermost/*
/bash/rc.local
/eog/*
/evince/*
/git/gitk
/remmina/*
/gconf/*
/freerdp/*
chromium/*
transmission/*
vlc/*
bash_completion.d/npm
bash_completion.d/pandoc
/bash_completion.d/git-wip-completion.bash
/user-share/*
/autostart/dropbox.desktop
/systemd/user/debug-usage-detailed.service
/systemd/user/debug-usage-uptime.service
/systemd/user/debug-usage-load.service
VirtualBox/*
autostart/remmina-applet.desktop
configstore/*
bash_completion.d/virsh_bash_completion
virt-viewer/
/autostart/*
/gnome-contacts/*
/micro/*
glade.conf
/GIMP/*
/mimeapps.list
/containers/*
/kde.org/*
/htop/
/libresprite/
/rygel.conf
/wireshark/recent
/wireshark/recent_common
pipewire-media-session/
emacs/
pipewire
pipewire-media-session/
