*#*
*~
/*.list
/.gsd-keyboard.settings-ported
/GIMP/*
/Mattermost/*
/StoneShard/
/VirtualBox/*
/Yubico/
/autostart/*
/autostart/dropbox.desktop
/autostart/remmina-applet.desktop
/background
/bash/functions.work
/bash/rc.local
/bash_completion.d/complete_alias
/bash_completion.d/git-fpaste-completion.bash
/bash_completion.d/git-wip-completion.bash
/bash_completion.d/npm
/bash_completion.d/pandoc
/bash_completion.d/virsh_bash_completion
/black
/btop/
/chromium/*
/cni/
/configstore/*
/containers/*
/corebird/*
/dconf/*
/dleyna-*
/emacs/
/enchant/*
/eog/*
/epiphany/*
/evince/*
/evolution/*
/fedoraproject.org/
/freerdp/*
/gconf/*
/gedit/*
/ghc/ghci_history
/git/config.local
/git/gitk
/git/spindle
/glade.conf
/gnome-boxes/
/gnome-builder
/gnome-contacts/*
/gnome-control-center/*
/gnome-initial-setup-done
/goa-1.0/*
/google-chrome/*
/gtk-2.0
/gtk-3.0/bookmarks
/gtk-3.0/servers
/htop/
/ibus/*
/inkscape/
/kde.org/*
/kube/
/libreoffice/*
/libresprite/
/libvirt/*
/menus/*
/micro/*
/mimeapps.list
/monitors.xml
/nautilus/search-metadata
/pavucontrol.ini
/pipewire
/pipewire-media-session/
/pipewire-media-session/
/pudb/internal-cmdline-history.txt
/pudb/saved-*
/pudb/saved-breakpoints-3.11
/pulse/*
/pycodestyle
/remmina/*
/rygel.conf
/sealert.conf
/simple-scan/
/skypeforlinux/*
/solaar/
/spotify/*
/swtpm*
/systemd/user/*.target.wants/*
/systemd/user/debug-usage-detailed.service
/systemd/user/debug-usage-load.service
/systemd/user/debug-usage-uptime.service
/toolbox/
/totem/*
/transmission-remote-gtk/*
/transmission/*
/user-dirs.dirs
/user-dirs.locale
/user-share/*
/var/lib/swtpm-localca/*
/virt-viewer/
/vlc/*
/wireshark/recent
/wireshark/recent_common
/yelp/*
