*~
*#*
/git/spindle
/git/config.local
/autostart/*
/corebird/*
/dconf/*
/dleyna-*
/enchant/*
/epiphany/*
/evolution/*
/gedit/*
/gnome-initial-setup-done
/goa-1.0/*
/google-chrome/*
/libreoffice/*
/menus/*
/pulse/*
/sealert.conf
/spotify/*
/totem/*
/transmission-remote-gtk/*
/yelp/*
/gnome-boxes/
/gtk-3.0/bookmarks
/gtk-3.0/servers
/user-dirs.dirs
/user-dirs.locale
/libvirt/*
bash_completion.d/git-fpaste-completion.bash
gnome-control-center/*
ibus/*
/systemd/user/*.target.wants/*
/skypeforlinux/*
monitors.xml
/gtk-2.0
/nautilus/search-metadata
/inkscape/
/Mattermost/*
/bash/rc.local
/eog/*
/evince/*
/git/gitk
/remmina/*
/gconf/*
/freerdp/*
chromium/*
transmission/*
vlc/*
bash_completion.d/npm
bash_completion.d/pandoc
