[Desktop Entry]
Type=Application
Name=RTags Daemon
Exec=bash -c "rdm &"
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
