[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=simple
ExecStart=/usr/bin/emacs --fg-daemon=main
ExecStop=/usr/bin/emacsclient -s main --eval "(mb-f-kill-server)"
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=always
TimeoutStopSec=5

[Install]
WantedBy=default.target
