[Unit]
Description=Wanderlust: An Emacs Mail Client

[Service]
Type=simple
ExecStart=/usr/bin/emacs --fg-daemon=wanderlust
ExecStop=/usr/bin/emacsclient -s wanderlust --eval "(mb-f-kill-server)"
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=always
TimeoutStopSec=5

[Install]
WantedBy=default.target
